.btn-style {
    color: white;
    border-radius: 30px;
    background-color: #004c98;
    width: 35%;
    font-size: xx-large;
    margin-bottom: 20px;
    font-weight: 500;
}

.headerImage {
  width: 100%;
}

.blue-font-color {
  color: #14d8ec;
}

.center-align {
  text-align: center;
}

.header-label-margin {
  margin-left: 300px;
}

.common-margin {
  margin-right: 300px;
  margin-bottom: 50px;
}

.list-label-margin {
  margin-left: 400px;
}

.custom-bulletin {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: x-large;
}

.bold-font {
  font-weight: bold;
}

.list-header {
  font-size: xx-large;
}

.margin-top-50{
    margin-top: 50px;
}
