<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-2 border product-card" *ngFor="let product of productsArray">
            <div class="row">
                <div class="img-area col-12">
                    <img src="{{product.image[0]}}" alt="{{product.name}}">
                </div>
                <div class="product-detail col-12">
                    {{product.name}} <br>
                    {{product.sku}} <br>
                    <button class="btn btn-outline-primary full-width">
                        START DESIGNING
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="container"> -->
    <div class="main-wrapper">
        <!-- <div class="list-wrapper"> -->
            <div class="row list-holder">
                <div class="col-md-12">
                    <div class="row">
                        <div *ngFor="let item of productList" class="col-md-2 mb-4">
                            <mat-card class="cardHolder" (click)="gotoProduct(item.id)">
                                <img mat-card-image src="{{ item.image[0] }}" alt="image not available" />

                                <mat-card-content>
                                    <div class="card-actions">

                                        <!-- <span *ngFor="let color of item.colors" class="colorTab">
                                            <button class="btn-color-height"
                                                [ngStyle]="{'background-color':color}"></button>
                                        </span> -->

                                        <h6 class="cardContent" style="font-weight: bold;">{{item.name}}</h6>
                                        <div class='tooltip'>{{item.name}}</div>
                                        <div class="product-suffix">
                                            <label
                                                style="font-weight: 200; color: grey; word-wrap:break-word;">{{item.sku}}</label><br>
                                            <label>${{item.price}}</label>
                                        </div>
                                    </div>
                                </mat-card-content>

                                <button class="btn btn-outline-primary full-width">
                                    START DESIGNING
                                </button>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div>
</div> -->
