.card-holder {
  margin: 20px;
}

.text-align-right {
  text-align: right;
}

.addArtBtn {
  background-color: #0f5384;
  font-size: small;
  vertical-align: middle;
  text-align: center;
  height: 40px;
}

.full-width {
  width: 100%;
}

.big-button {
  padding: 15px;
  text-align: center;
  margin: 15px;
  border: 1px solid black;
}

.padding-top-10 {
  padding-top: 10px;
}

.art-wrapper {
  border: 1px solid black;
  padding: 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-height: 300px;
}

.img-size {
  width: 170px;
  height: 150px;
}

.card {
  width: 220px;
  height: 250px;
  font-size: large;
  border: none;
}

.card-button {
  border-radius: 20px;
  width: 60%;
}

.text-align-center {
  text-align: center;
}
