.padding10{
    padding: 10px;
}

.smaller{
  font-size: smaller;
}

.btnClass {
    background-color: #1830a3;
    font-size: small;
  }
  
  #block_container {
    display: flex;
    justify-content: left;
  }

  .error{
    color: red;
  }

  .success{
    color: green;
  }