.card-holder {
  margin: 20px;
}

.text-align-right {
  text-align: right;
}

.addArtBtn {
  background-color: #0f5384;
  font-size: small;    
  vertical-align: middle;
  text-align: center;
}

.full-width{
    width: 100%;
}

.big-button{
    padding: 15px;
    text-align: center;
    margin: 15px;
    border: 1px solid black;
}

.padding-top-10{
    padding-top: 10px;
}