<div class="parent-container">
    <div class="action-container w-100 text-right mw-100 mr-5">
        <!-- <label for="categoryName" class="font-weight-bold">Add Item Type</label> -->
        <!-- <div class="form-inline input-group text-right"> -->
            <!-- <input type="text" class="form-control" formControlName="name"> -->
            <button class="btn btn-primary ml-3" (click)="openAddPopup()"> ADD NEW DIMENSION AND WEIGHT GROUP </button>
            <!-- <button class="btn btn-outline-danger ml-3" (click)="initializeForm()">RESET</button> -->
        <!-- </div> -->
    </div>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Group Name</th>
                    <th>Weight (lbs)</th>
                    <th>Volume (in<sup>3</sup>)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let itemType of itemTypeArray;let i = index">
                    <td>{{itemType.id}}</td>
                    <td>{{itemType.name}}</td>
                    <td>{{itemType.weight}}</td>
                    <td>{{itemType.volume}}</td>
                    <td class="actions">
                        <img src="../../../../../assets/images/edit.png" alt="Edit Icon"
                            (click)="openEditPopup(itemType)">
                        <img src="../../../../../assets/images/close.png" alt="Remove Icon"
                            (click)="removeItemType(itemType.id,i)">
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="pagination-container">
        <mat-paginator [length]="paginatorLength" [pageSize]="paginatorPageSize"
            [pageSizeOptions]="paginatorPageSizeOptions" (page)="pageEvent($event)">
        </mat-paginator>
        <br><br>
    </div>
</div>

<!-- Item Type Modal -->
<div class="modal fade" id="itemTypeModal" tabindex="-1" role="dialog" aria-labelledby="itemTypeModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ isUpdate ? "Update Group" : "Add Group" }}</h5>
                <button type="button" class="close" (click)="closePopup()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row" [formGroup]="itemTypeForm">
                <div class="col-12 p-2">
                    <label>Dimension and Weight Group Name</label>
                    <input type="text" formControlName="name" class="form-control w-100">
                </div>
                <div class="col-6 p-2">
                    <label>Item Weight (lbs)</label>
                    <input type="number" formControlName="weight" class="form-control w-100">
                </div>
                <div class="col-6 p-2">
                    <label>Item Volume (l)</label>
                    <input type="number" formControlName="volume" class="form-control w-100">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closePopup()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="saveItemType()">Save changes</button>
            </div>
        </div>
    </div>
</div>