<div class="parent-container">
    <div class="action-container">
        <label for="categoryName" class="font-weight-bold">Add Market</label>
        <div class="form-inline input-group" [formGroup]="groupForm">
            <input type="text" class="form-control" id="groupName" formControlName="name" placeholder="Enter market name">
            <button class="btn btn-primary ml-3" (click)="updateProductGroup()">{{ updateGroup ? 'UPDATE' : 'ADD' }}</button>
            <button class="btn btn-outline-danger ml-3" (click)="initializeGroupForm()">RESET</button>
        </div>
    </div>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Market</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let group of productGroupArray">
                    <td>{{group.id}}</td>
                    <td>{{group.name}}</td>
                    <td class="actions">
                        <img src="../../../../../assets/images/edit.png" alt="Edit Icon" (click)="editGroup(group)">
                        <img src="../../../../../assets/images/close.png" alt="Remove Icon" (click)="removeGroup(group.id)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination-container">
        <mat-paginator [length]="paginatorLength" [pageSize]="paginatorPageSize" 
          [pageSizeOptions]="paginatorPageSizeOptions" (page)="pageEvent($event)">
          </mat-paginator>
          <br><br>
    </div>
</div>