<div class="filterTabParent">
    <div class="row filterTabBar">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>From</mat-label>
          <input matInput [matDatepicker]="fromPicker" />
          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field style="height: 20px">
          <mat-label>To</mat-label>
          <input matInput [matDatepicker]="toPicker" />
          <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
          <mat-datepicker #toPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <div class="wrapper">
          <img class="search-icon" src="../../../../assets/images/search.png" />
          <input class="search" placeholder="Search" type="text" />
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="table-wrapper">
  
    <table mat-table [dataSource]="artList" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="artTask">
        <th mat-header-cell *matHeaderCellDef> Art Task</th>
        <td mat-cell *matCellDef="let element"><label>{{element.name}}</label>   </td>
      </ng-container>
      <ng-container matColumnDef="contactName">
        <th mat-header-cell *matHeaderCellDef> Customer Name </th>
        <td mat-cell *matCellDef="let element"><label>{{element.customer}}</label>   </td>
      </ng-container>
      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef> Order ID </th>
        <td mat-cell *matCellDef="let element"><label>{{element.id}}</label>   </td>
      </ng-container>
      <ng-container matColumnDef="artCount">
        <th mat-header-cell *matHeaderCellDef>No of Arts </th>
        <td mat-cell *matCellDef="let element"><label>{{element.artCount}}</label>  </td>
      </ng-container>
      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef> Due Date</th>
        <td mat-cell *matCellDef="let element"><label>{{element.dueDate}}</label>   </td>
      </ng-container>
      <ng-container matColumnDef="dueTime">
        <th mat-header-cell *matHeaderCellDef> Due Time</th>
        <td mat-cell *matCellDef="let element"><label>{{element.dueTime}}</label>   </td>
      </ng-container>
      <!-- <ng-container matColumnDef="artist">
        <th mat-header-cell *matHeaderCellDef>Artist </th>
        <td mat-cell *matCellDef="let element"><label>{{element.artist}}</label>  </td>
      </ng-container> -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status </th>
        <td mat-cell *matCellDef="let element" [ngSwitch]="element.artQueueStatus" >
            <label *ngSwitchCase="'3'">Assigned</label>
            <label *ngSwitchCase="'5'">Rejected</label>
            <label *ngSwitchCase="'11'">Customer Rejected</label>
            <label *ngSwitchCase="'7'">Print Room Rejected</label>
            <label *ngSwitchCase="'4'">Submitted</label>
          </td>
      </ng-container>
  
      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <!-- <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <button class="mat-raised-button mat-button-base mat-primary" color="primary" >Download art</button>
            <button class="mat-raised-button mat-button-base mat-primary" color="primary" >Upload art</button>
            <button class="mat-raised-button mat-button-base mat-primary" color="primary" >Submit for customer approval</button>
          </div>
        </td>
      </ng-container> -->
  
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" (click)="openArtList(element)" class="example-element-row" >
      </tr>
      <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
    </table>
  </div>

  
  