<div class="parent-container">
    <div class="action-container">
        <label for="categoryName" class="font-weight-bold">Add Deco Positions</label>
        <div class="form-inline input-group" [formGroup]="locationForm">
            <input type="text" class="form-control" id="formulaName" formControlName="name" placeholder="Enter deco position name">
            <button class="btn btn-primary ml-3" (click)="updateProductLocation()">{{ updateLocation ? 'UPDATE' : 'ADD' }}</button>
            <button class="btn btn-outline-danger ml-3" (click)="initializeLocationForm()">RESET</button>
        </div>
    </div>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Deco Positions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let location of productLocationArray">
                    <td>{{location.id}}</td>
                    <td>{{location.name}}</td>
                    <td class="actions">
                        <img src="../../../../../assets/images/edit.png" alt="Edit Icon" (click)="editLocation(location)">
                        <img src="../../../../../assets/images/close.png" alt="Remove Icon" (click)="removeLocation(location.id)">
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="paginatorLength" [pageSize]="paginatorPageSize" 
          [pageSizeOptions]="paginatorPageSizeOptions" (page)="pageEvent($event)">
          </mat-paginator>
    </div>
    <!-- <div class="pagination-container">
        
    </div> -->
</div>