.btnClass {
  background-color: #1830a3;
  font-size: small;
}

.padding10 {
  padding: 10px;
}

.mat-card {
  margin: 10px;
}

.mat-card-image {
  height: 250px;
}


.card-btn {
  background-color: white;
  font-size: small;
  border: none;
  color: #2296f3;
  padding-left: 15px;
}

.fixed-btn{
  position: fixed;
  right: 70px;
}
