<div class="row">
  <div class="col-md-1">
    <!-- <div class="sideTab" [routerLink]="['/storebuilder/artqueuelist']" (click)="setHeader('Art Requests')">
      <img src="../../../../assets/images/productivity.png" class="sideBarImgTab" />
      <p class="sideBarTabText">Art Requests</p>
    </div> -->
    <div class="sideTab" [routerLink]="['/storebuilder/storerequestlist']" (click)="setHeader('Store Requests')">
      <img src="../../../../assets/images/store.png" class="sideBarImgTab" />
      <p class="sideBarTabText">All Store Requests</p>
    </div>
    <div class="sideTab" [routerLink]="['/storebuilder/storerequestmanagement/myqueue']" (click)="setHeader('My Store Build Queue')">
      <img src="../../../../assets/images/productivity.png" class="sideBarImgTab" />
      <p class="sideBarTabText">My Store Build Queue</p>
    </div>
    <!-- <div class="sideTab" [routerLink]="['/storebuilder/artlist']" (click)="setHeader('My Art List')">
      <img src="../../../../assets/images/paint-palette.png" class="sideBarImgTab" />
      <p class="sideBarTabText">My Art List</p>
    </div> -->
    <!-- <div class="sideTab" [routerLink]="['/storebuilder/storerequestmanagement/customerrejectedqueue']" (click)="setHeader('Stores Rejected by Customer')">
      <img src="../../../../assets/images/Layer_6.png" class="sideBarImgTab" />
      <p class="sideBarTabText">Stores Rejected by Customer</p>
    </div> -->
    <!-- <div class="sideTab" [routerLink]="['/storebuilder/rejectedartlist']" (click)="setHeader('Rejected Arts')">
      <img src="../../../../assets/images/productivity.png" class="sideBarImgTab" />
      <p class="sideBarTabText">Rejected Arts</p>
    </div> -->
    <!-- <div class="sideTab">
      <img src="../../../../assets/images/XMLID_3639_.png" class="sideBarImgTab" />
      <p class="sideBarTabText">Customer Chat</p>
    </div>
    <div class="sideTab">
      <img src="../../../../assets/images/chat.png" class="sideBarImgTab" />
      <p class="sideBarTabText">Inhouse Chat</p>
    </div> -->
  </div>
  <div class="col-md-11">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile [colspan]="1" [rowspan]="6">
        <div class="summaryWrapper">
          <div class="height50" id="taskSummaryHeader">
            <p style="font-size: large"><b>SUMMARY</b></p>
          </div>
          <div class="row">
            <div class="col-md-6 leftColTab">
              <div class="summaryTab">
                <h4 class="summaryTabHeader">{{dashBoardDetailCount?.submittedForApprovalCount}}</h4>
                <span class="summaryTabInfo">Store Builds Awaiting AM Action</span>
              </div>
            </div>
            <div class="col-md-6 rightColTab">
              <div class="summaryTab" [routerLink]="['/storebuilder/storerequestmanagement/myqueue/7,19']" 
              (click)="setHeader('Rejected Store Builds')">
                <h4 class="summaryTabHeader">{{dashBoardDetailCount?.makingAdjustmentsCount}}</h4>
                <span class="summaryTabInfo">Rejected Store Builds</span>
              </div>
            </div>
            <div class="col-md-6 leftColTab">
              <div class="summaryTab" [routerLink]="['/storebuilder/storelist/9']"
              (click)="setHeader('Published Store Builds')">
                <h4 class="summaryTabHeader">{{dashBoardDetailCount?.storePublishedCount}}</h4>
                <span class="summaryTabInfo">Published Store Builds</span>
              </div>
            </div>
            <div class="col-md-6 rightColTab">
              <div class="summaryTab" [routerLink]="['/storebuilder/storelist/10']"
              (click)="setHeader('Live Stores')">
                <h4 class="summaryTabHeader">{{dashBoardDetailCount?.storeOpenedCount}}</h4>
                <span class="summaryTabInfo">Live Stores</span>
              </div>
            </div>
            <div class="col-md-6 leftColTab">
              <div class="summaryTab">
                <h4 class="summaryTabHeader">2</h4>
                <span class="summaryTabInfo">Store build exceeding allocated time</span>
              </div>
            </div>
            <!-- <div class="col-md-6 rightColTab">
              <div class="summaryTab">
                <h4 class="summaryTabHeader">3</h4>
                <span class="summaryTabInfo">xxxx</span>
              </div>
            </div>
            <div class="col-md-6 leftColTab">
              <div class="summaryTab">
                <h4 class="summaryTabHeader">6</h4>
                <span class="summaryTabInfo">xxxx</span>
              </div>
            </div>
            <div class="col-md-6 rightColTab">
              <div class="summaryTab">
                <h4 class="summaryTabHeader">6</h4>
                <span class="summaryTabInfo">xxxx</span>
              </div>
            </div>
            <div class="col-md-6 leftColTab">
              <div class="summaryTab">
                <h4 class="summaryTabHeader">4</h4>
                <span class="summaryTabInfo">xxxx</span>
              </div>
            </div>
            <div class="col-md-6 rightColTab">
              <div class="summaryTab">
                <h4 class="summaryTabHeader">0</h4>
                <span class="summaryTabInfo">xxxx</span>
              </div>
            </div> -->
          </div>
        </div>
      </mat-grid-tile>

      <!-- <mat-grid-tile [colspan]="1" [rowspan]="5">
        <div class="inboxWrapper">
          <div class="table-scroll">
            <table class="table table-striped">
              <thead>
                <tr id="inboxTableHeader">
                  <th>Art Requests Inbox</th>
                  <th style="text-align: right">
                    <label> ({{artList?.length}}) </label>
                  </th>
                </tr>
                <tr id="inboxTableHeader">
                  <th class="inboxHeading" width="60%">Store Name</th>
                  <th class="inboxHeading" width="40%">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of artList" (click)="onArtCellClick(item.id)">
                  <td width="70%">{{item.name}}</td>
                  <td width="30%">{{item.createdDate}}</td>
                </tr>
                <tr>
              </tbody>
            </table>
          </div>

        </div>
      </mat-grid-tile> -->
      <mat-grid-tile [colspan]="2" [rowspan]="5">
        <div class="inboxWrapper">
          <div class="table-scroll">
            <table class="table table-striped">
              <thead>
                <tr id="inboxTableHeader">
                  <th>STORE REQUESTS</th>
                  <th></th>
                  <th style="text-align: right">
                    <label> ({{teamStoreList?.length}}) </label>
                  </th>
                </tr>
                <tr id="inboxTableHeader">
                  <th class="inboxHeading" width="40%">Store Name</th>
                  <th class="inboxHeading" width="30%">Request Date</th>
                  <th class="inboxHeading" width="30%">Due Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of teamStoreList" (click)="onCellClick(item.id)">
                  <td width="40%">{{item.name}}</td>
                  <td width="30%">{{item.createdDate | date:'MM/dd/yyyy hh:mm a'}}</td>
                  <td width="30%">{{item.dueTime | date:'MM/dd/yyyy hh:mm a'}}</td>
                  <!-- <td width="30%">{{item.dueDate}}</td> -->
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </mat-grid-tile>
      <!-- <mat-grid-tile [colspan]="1" [rowspan]="2">
        <div class="notificationWrapper">
          <table class="table table-striped tableLineHeight">
            <thead>
              <tr class="notificationTableHeader">
                <th width="90%" >NOTIFICATIONS/ALERTS</th>
                <th width="10%"><span class="material-icons"> info </span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="90%">Store build alert time</td>
                <td width="10%">
                  <span class="material-icons"> report_problem </span>
                </td>
              </tr>
              <tr>
                <td width="90%">New request overdue</td>
                <td width="10%">
                  <span class="material-icons"> report_problem </span>
                </td>
              </tr>
              <tr>
                <td width="90%">Store build ready to publish</td>
                <td width="10%">
                  <span class="material-icons"> report_problem </span>
                </td>
              </tr>
              <tr>
                <td width="90%">Store expired</td>
                <td width="10%">
                  <span class="material-icons"> report_problem </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-grid-tile> -->
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="quickLinkWrapper">
          <div class="height50" id="quickLinkHeader">
            <p style="font-size: large">
              <b>RELATED LIST QUICK LINKS</b>
            </p>
          </div>
          <!-- <div class="row">
            <div class="col-md-2 quickLinkImgTab">
              <img src="../../../../assets/images/Group 2829.png" class="imgTabSize" />xx
            </div>
            <div class="col-md-2 quickLinkImgTab">
              <img src="../../../../assets/images/contacts.png" class="imgTabSize" />xxxxx
            </div>
            <div class="col-md-2 quickLinkImgTab">
              <img src="../../../../assets/images/people.png" class="imgTabSize" />xxxx
            </div>
            <div class="col-md-2 quickLinkImgTab">
              <img src="../../../../assets/images/pencil.png" class="imgTabSize" />xxxxxx
            </div>
            <div class="col-md-2 quickLinkImgTab">
              <img src="../../../../assets/images/crown.png" class="imgTabSize" />x
            </div>
          </div> -->
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
