.product-sec{
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.22);
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
}

.img-style{
    height: 270px;
    width: 265px;
    padding: 10px;
}