.card-holder {
  padding: 20px;
  height: 100%;
}

.form-padding {
  padding: 40px;
}

.padding-top-20 {
  padding-top: 20px;
}

.full-width {
  width: 100%;
}

.btn-style {
  color: white;
  border-radius: 10px;
  background-color: #004c98;
  box-shadow: -4px 4px 0px 0px lightgrey;
  width: 15%;
}

.update-btn-position {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.disabled{
  color: #8d8d8d;
}