<button class="mat-raised-button mat-button-base mat-primary" *ngIf="artReqObj?.teamStoreId != 0" (click)="updateArtRequest()" color="primary" style="float: right;">
  <span *ngIf="user.roles[0].id == 3">Go to Store Creation</span>
  <span *ngIf="user.roles[0].id == 5">Submit</span>
</button>
<button class="mat-raised-button mat-button-base mat-primary" *ngIf="artReqObj?.teamStoreId == 0" (click)="updateArtRequest()" color="primary" style="float: right;">
  Send for verification
</button>
<br><br>
<div class="row">
  <div class="col-md-3" *ngFor="let item of artImgList; let i =index;">
    <mat-card class="example-card">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <img mat-card-image src={{item.url}} style="height: 200px;width:100%;position: relative;top: 0;">
        </div>
        <div class="col-md-3">
          <!-- <input *ngIf="item.isDownloaded" type="checkbox" [(ngModel)]="item.isDownloaded" /> -->
        </div>
      </div>
      <mat-card-content>
        <div class="row">
        <div class="col-md-12">
          <mat-card-subtitle>Type : {{item.metaData?.artServiceType}}</mat-card-subtitle>
          <mat-card-subtitle>Art Position : {{item.metaData?.artPosition}}</mat-card-subtitle>
        <mat-card-subtitle>No of colors : {{item.metaData?.noOfColors}}</mat-card-subtitle>
        <mat-card-subtitle>Colors : {{item.metaData?.colors}}</mat-card-subtitle>
        <mat-card-subtitle>Size : {{item.metaData?.artSize}}</mat-card-subtitle>
        <mat-card-subtitle  style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" matTooltip="Info about the action">
          Reason : <span *ngIf="item.artMappingStatus == 5 ||  item.artMappingStatus == 7">{{item?.artReason}}</span></mat-card-subtitle>
          <div *ngIf="item.artMappingStatus == 11 " class="col-md-12">
            <div *ngFor="let reason of reasonList"> 
              <mat-checkbox disabled [value]="reason.id" *ngIf="item.artReasons && item.artReasons.indexOf(reason.id) !== -1" [checked]="true" >
                <mat-hint>{{ reason.description}}</mat-hint>
              </mat-checkbox>
            </div>
          </div>
        <mat-card-subtitle style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-top: 5px;" matTooltip="Info about the action">
          Comments : 
          <span *ngIf="item.artMappingStatus == 5 ||  item.artMappingStatus == 7">{{item?.note}}</span>
          <span *ngIf="item.artMappingStatus == 11 ">{{item?.customerRejectionReasonText}}</span></mat-card-subtitle>
        <mat-card-subtitle style="width: 100%;">
          <div style="width: 60%;float: left;" [ngStyle]="{'color': item.isDigitized ? 'green' : 'red'}">
            <span *ngIf="item.isDigitized">Production ready</span>
            <span *ngIf="!item.isDigitized">Not Production Ready</span>
          </div>
          <div style="width: 40%;float: right;" [ngStyle]="{'color': item.isApproved ? 'green' : 'red'}">
            <!-- <span *ngIf="item.isApproved">Approved</span> -->
            <span *ngIf="item.artMappingStatus == 3 || item.artMappingStatus == 0">Pending </span>
            <span *ngIf="item.artMappingStatus == 5  || item.artMappingStatus == 11 || item.artMappingStatus == 7">Rejected</span>
            <span *ngIf="item.artMappingStatus == 4 ">Submitted</span>
            <span *ngIf="item.artMappingStatus == 6 ">Approved</span>
          </div>
        </mat-card-subtitle>
        </div>
        <div class="col-md-12">
          <button *ngIf="item.artMappingStatus != 6 " mat-button color="primary" (click)="openUploadDataModal(item.artMappingId,i)">Upload</button>
          <button mat-button color="primary" (click)="downloadImg(item.originalFileUrl || item.url)">Download Original Art File</button>
      </div>
      </div>
      </mat-card-content>
    </mat-card>
    <br>
  </div>
</div>
<div class="modal fade" id="uploadModal" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <mat-label>Upload </mat-label>
        <button type="button" class="close" (click)="closeModal()">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="uploadForm" novalidate class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field style="width:100%">
                <mat-label>Service</mat-label>
                <mat-select formControlName="artServiceTypeId" (selectionChange)="setColorByService()">
                  <mat-option *ngFor="let item of serviceArray" [value]="item.id">{{item?.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field style="width:100%">
                <mat-label>No of Colors</mat-label>
                <input type="text" matInput formControlName="noOfColors">
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field style="width:100%">
                <mat-label>colors</mat-label>
                <mat-select formControlName="colorIdList" multiple>
                  <mat-option *ngFor="let item of colorList" [value]="item.name">{{item?.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field style="width:100%">
                <mat-label>Position</mat-label>
                <mat-select formControlName="artPositionId">
                  <mat-option *ngFor="let item of positionArray" [value]="item.id">{{item?.position}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field style="width:100%">
                <mat-label>Size</mat-label>
                <mat-select formControlName="artSizeId">
                  <!-- <mat-option *ngFor="let item of sizeArray" [value]="item.id">{{item?.sizeName}}</mat-option> -->
                  <mat-option [value]="1">11.5"Hx11.5"W</mat-option>
                  <mat-option [value]="2">8"Hx8"W</mat-option>
                  <mat-option [value]="3">4"Hx4"W</mat-option>
                  <mat-option [value]="4">15"Hx 3"W</mat-option>
                  <mat-option [value]="5">12"Hx3"W</mat-option>
                  <mat-option [value]="6">15"Hx3"W</mat-option>
                  <mat-option [value]="7">2.25"Hx4"W</mat-option>
                  <mat-option [value]="8">10.5"hx10.5"W</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <button class="mat-button mat-button-base mat-primary" color="primary" (click)="imgFile.click()">
                Select Image File
                <input #imgFile type="file" style="display:none;" accept="image/*" (change)="selectImageFile($event)" />
              </button>
              <label>{{selectedImageFileName}}</label>
            </div>
            <div class="col-md-12">
              <button class="mat-button mat-button-base mat-primary" color="primary" (click)="pdfFile.click()">
                Select PDF File
                <input #pdfFile type="file" style="display:none;" (change)="selectPdfFile($event)" accept="application/pdf"/>
              </button>
              <label>{{selectedPdfFileName}}</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="mat-raised-button mat-button-base mat-primary" color="primary" (click)="uploadImage()">
          Upload
        </button>
      </div>
    </div>
  </div>
</div>
