.art-wrapper {
    border: 1px solid black;
    padding: 10px;
    margin-left: 2px;
    margin-right: 2px;
  }
  
  .img-size {
    width: 220px;
    height: 200px;
  }
  
  .card {
    width: 220px;
    height: 250px;
    font-size: large;
    border: none;
    margin: 10px;
  }
  
  .card-button {
    border-radius: 20px;
    width: 60%;
  }
  
  .text-align-center {
    text-align: center;
  }

  .common-bottom-margin{
    margin-bottom: 0;
  }