.addArtBtn {
  background-color: #0f5384;
  font-size: xx-small;
  height: 35px;
  vertical-align: middle;
  text-align: center;
}
.mat-icon {
  background-repeat: no-repeat;
  fill: currentColor;
  vertical-align: middle;
}

.tableCellWidth {
  width: 5%;
}

h5 {
  margin-left: 10px;
}

table td {
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

th {
  text-align: center;
}

.imgTab {
  width: 50px;
  height: 70px;
}

.storeCreationBtn {
  height: 24px;
  vertical-align: middle;
}

.filterBar {
  margin: 20px;
}

.topButtonMargin {
  margin-left: 10px;
  margin-right: 10px;
}

.tableEditBtn {
  border-radius: 20px;
  height: 40px;
  background-color: #F44436;
  color: white;
}

.fullwidth{
  width:100%;
}
