<form [formGroup]="storePoliciesGroup">
  <div class="row padding10">
      <div class="col-md-8">
        <p style="font-size: x-large;">Store Policies</p>
        <mat-hint>Keep your customers informed by providing easy-to-understand store policies on important topics like product returns, information privacy, and delivery expectations. Create Policies that impute confidence and trust. Hint: The more details you provide your customers here, the less likely they will be calling you!</mat-hint>
      </div>
      <div class="col-md-4"  style="text-align: right;">
        <button class="btn btn-primary btnClass" (click)="saveTeamStoreChanges()">SAVE</button>
      </div>
    </div><br><br>
    <div class="row padding10">
      <div class="col-md-12">
        <mat-label>Thank You Message</mat-label><br><br>
        <mat-form-field appearance="fill" style="width: 75%;">
          <mat-label>--Select--</mat-label>
          <mat-select formControlName="thankYouMessage">
            <mat-option value="0">Generic</mat-option>
            <mat-option value="1">Custom</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="btn btn-primary btnClass">VIEW/EDIT</button>
      </div>
      <div class="col-md-12">
        <mat-label>Packing Slip Footer</mat-label><br><br>
        <mat-form-field appearance="fill" style="width: 75%;">
          <mat-label>--Select--</mat-label>
          <mat-select formControlName="PackingSlipFooter" [(value)]="PackingSlipFooterSelected">
            <mat-option value="0">Generic</mat-option>
            <mat-option value="1">Custom</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="btn btn-primary btnClass">VIEW/EDIT</button>
      </div>
      <div class="col-md-12">
        <mat-label>Privacy Policy</mat-label><br><br>
        <mat-form-field appearance="fill" style="width: 75%;">
          <mat-label>--Select--</mat-label>
          <mat-select formControlName="privacyPolicy" [(value)]="privacyPolicySelected">
            <mat-option value="0">Generic</mat-option>
            <mat-option value="1">Custom</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="btn btn-primary btnClass">VIEW/EDIT</button>
      </div>
      <div class="col-md-12">
        <mat-label>Terms of Use</mat-label><br><br>
        <mat-form-field appearance="fill" style="width: 75%;">
          <mat-label>--Select--</mat-label>
          <mat-select formControlName="termsOfUse" [(value)]="termsOfUseSelected">
            <mat-option value="0">Generic</mat-option>
            <mat-option value="1">Custom</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="btn btn-primary btnClass">VIEW/EDIT</button>
      </div>
    </div>
</form>