<div class="settings-container">
    
    <div class="side-nav">
        <ul>
            <li routerLink="/productmanager/settings/productcategory" routerLinkActive='active'>Product Category</li>
            <li routerLink="/productmanager/settings/productgroup" routerLinkActive='active'>Markets</li>
            <li routerLink="/productmanager/settings/margincalculation" routerLinkActive='active'>Margin Calculation Formula</li>
            <li routerLink="/productmanager/settings/decopositions" routerLinkActive='active'>Deco Positions</li>
            <li routerLink="/productmanager/settings/services" routerLinkActive='active'>Services</li>
            <li routerLink="/productmanager/settings/storestatus" routerLinkActive='active'>Store Status</li>
            <li routerLink="/productmanager/settings/decogroup" routerLinkActive='active'>Deco Groups</li>
            <li routerLink="/productmanager/settings/itemtype" routerLinkActive='active'>Dimension and Weight Group</li>
            <li routerLink="/productmanager/settings/box" routerLinkActive='active'>Boxes</li>
        </ul>
    </div>
    <div class="router-outlet">
        <router-outlet></router-outlet>
    </div>
</div>