<div>
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%">
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef>Order Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef>Customer Name</th>
        <td mat-cell *matCellDef="let element">{{ element.customerName }}</td>
      </ng-container>

      <ng-container matColumnDef="institution">
        <th mat-header-cell *matHeaderCellDef>Institution</th>
        <td mat-cell *matCellDef="let element">{{ element.customerOrganization }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">{{ element.totalAmount }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Payment Type</th>
        <td mat-cell *matCellDef="let element" [ngSwitch]="element.paymentType">
          <label *ngSwitchCase="'2'">Pay by PO</label>
          <label *ngSwitchCase="'1'">Pay by Invoice</label>
      </ng-container>

      <ng-container matColumnDef="purchaseType">
        <th mat-header-cell *matHeaderCellDef>Purchase Type</th>
        <td mat-cell *matCellDef="let element" [ngSwitch]="element.paymentType">
          <label *ngSwitchCase="'2'">In-Store Purchase</label>
          <label *ngSwitchCase="'1'">Regular E-Commerce</label>
      </ng-container>

      <ng-container matColumnDef="document">
        <th mat-header-cell *matHeaderCellDef>Document Uploaded</th>
        <td mat-cell *matCellDef="let element" [ngSwitch]="element.paymentType">
          <!-- <label *ngSwitchCase="'2'">In-Store Purchase</label>
                <label *ngSwitchCase="'1'">Regular E-Commerce</label> -->
          <label *ngIf="element.transactFile"><a href="{{element.transactFile}}" download="document" target="_blank">
              View/Download </a></label>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef=" let element">
          <button class="mat-raised-button mat-button-base mat-primary" color="primary"
            (click)="approvePayment(element.id)">Approve Payment</button>
          <button class="mat-raised-button mat-button-base mat-primary" color="primary"
            (click)="rejectPayment(element.id)">Reject Payment</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <th mat-header-row *matHeaderRowDef style="padding: 10px 10px 10px 0;">
        <input type="text" [(ngModel)]="filterParams.orderId" placeholder="Order Id" (change)="getPendingOrderList()" />
      </th>
      <th mat-header-row *matHeaderRowDef style="padding: 10px 10px 10px 0;">
        <input type="text" [(ngModel)]="filterParams.customerName" placeholder="Customer Name"
          (change)="getPendingOrderList()" />
      </th>
      <th mat-header-row *matHeaderRowDef style="padding: 10px 10px 10px 0;">
        <input type="text" [(ngModel)]="filterParams.institution" placeholder="Institution"
          (change)="getPendingOrderList()" />
      </th>
      <th mat-header-row *matHeaderRowDef style="padding: 10px 10px 10px 0;">
        <button class="btn btn-primary btn-sm" (click)="getPendingOrderList()">Filter</button>
      </th>
    </table>
    <mat-paginator (page)="onPageOrders($event)" [length]="filterParams.totalLength" [pageSize]="filterParams.per_page"
      [pageSizeOptions]="filterParams.pageSizeOptions" aria-label="Select page">
    </mat-paginator>
  </div>
</div>