<div class="page-wrapper">
  <div class="row top-section">
    <div class="col">
      <div class="wrapper">
        <div class="table-scroll">
          <div class="heading tableHeader">
            All Products
            <div class="data-source-check" style="position: absolute;right: 20px;top: 15px;">
              <!-- <label>Data Source: </label> -->
              <!-- <mat-radio-group [(ngModel)]="dataSource" (change)="onDataSourceChange()"
                [ngModelOptions]="{standalone: true}">
                <mat-radio-button value="live"> Live Data</mat-radio-button>
                <mat-radio-button value="feed"> Vendor Data </mat-radio-button>
              </mat-radio-group> -->
              <mat-slide-toggle matInput (change)="onDataSourceChange()" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="isFeed">
                <span *ngIf="isFeed == true"> Vendor Data </span>
                <span *ngIf="isFeed == false"> Live Data </span>
              </mat-slide-toggle>
            </div>
          </div>
          <div class="search-wrapper">
            <!-- <img class="search-icon" src="../../../../assets/images/search.png" /> -->
            <!-- <span class="advanced-search">Filter</span> -->

            <input class="search" [(ngModel)]="filterText" placeholder="Search product" type="text" />
            <ng-container *ngIf="productsLoading">
              <button class="btn btn-outline-success btn-sm" style="cursor: default;">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </button>
            </ng-container>
            <ng-container *ngIf="!productsLoading">
              <button (click)="getProductList()" class="btn btn-outline-success btn-sm">
                Search
              </button>
            </ng-container>
            <!-- <div class="filter" id="filter" (blur)="hideFilter()">
              <div style="display: flex;flex-wrap: wrap;">
                <div class="w-100 p-1">
                  <ngx-slider [(value)]="filterParams.minPrice" [(highValue)]="filterParams.maxPrice"
                    [options]="options"></ngx-slider>
                </div>
                <div class="w-50 p-1">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Colors</mat-label>
                    <mat-select multiple [(ngModel)]="filterParams.colors">
                      <mat-option *ngFor="let color of colorList" [value]="color.id">{{color.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="w-50 p-1">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Categories</mat-label>
                    <mat-select multiple [(ngModel)]="filterParams.categories">
                      <mat-option *ngFor="let element of categoryList" [value]="element.id">{{element.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="w-50 p-1">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Sizes</mat-label>
                    <mat-select multiple [(ngModel)]="filterParams.sizes">
                      <mat-option *ngFor="let element of sizeList" [value]="element.id">{{element.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="w-50 p-1">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Brand</mat-label>
                    <mat-select multiple [(ngModel)]="filterParams.brands">
                      <mat-option *ngFor="let element of brandList" [value]="element.id">{{element.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="w-50 p-1">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Markets</mat-label>
                    <mat-select multiple [(ngModel)]="filterParams.markets">
                      <mat-option *ngFor="let element of productGroupList" [value]="element.id">{{element.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="w-50 p-1">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Store Status</mat-label>
                    <mat-select multiple [(ngModel)]="filterParams.storeStatus">
                      <mat-option *ngFor="let element of storeStatus" [value]="element.id">{{element.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="w-50 p-1">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Style Name</mat-label>
                    <input type="text" [(ngModel)]="filterParams.styleName" matInput>
                  </mat-form-field>
                </div>
                <div class="w-50 p-1">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Vendor Name</mat-label>
                    <input type="text" [(ngModel)]="filterParams.vendorName" matInput>
                  </mat-form-field>
                </div>
                <div class="w-50 p-1">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Description</mat-label>
                    <textarea matInput [(ngModel)]="filterParams.description" cols="30" rows="2"></textarea>
                  </mat-form-field>
                </div>
                <div class="w-50 p-2" style="display: flex; align-items: flex-end; justify-content: flex-end;">
                  <button class="btn btn-sm btn-info mr-2" (click)="closeFilter()">Close</button>
                  <button class="btn btn-sm btn-danger mr-2" (click)="resetFilter()">Reset</button>
                  <button class="btn btn-sm btn-success" (click)="getProductList()">Apply</button>
                </div>
              </div>
            </div> -->
          </div>
          <div class="product select-all">
            <mat-checkbox [value]="-1" [(ngModel)]="selectAll_1" (change)="checkAll($event,1)"> Select all
            </mat-checkbox>
          </div>
          <div class="uncategorized-list">
            <div class="product" *ngFor="let product of filteredProductList">
              <mat-checkbox [value]="product" (change)="setChecked($event,product,0)" [checked]="checkAllUncategorized">
                {{ ((product.displayName || product.name)?.length>70) ?
                (((product.displayName || product.name)) | slice:0:70)+' ...' :
                ((product.displayName || product.name)) }}
                {{" / "+ (product.vendorName || "-") +" / " + (product.styleName || "-") }}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col arrow-container">
      <div id="btn-holder">
        <div>
          <button class="btn header-font add-btn" (click)="addProducts()">
            Add
            <span class="material-icons" style="vertical-align: top">
              east
            </span>
          </button>
          <br />
          <br />
          <button class="btn header-font remove-btn" (click)="removeProducts()">
            <span class="material-icons" style="vertical-align: top">
              west
            </span>
            <span> Remove</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="wrapper">
        <div class="table-scroll">
          <div class="heading tableHeader">
            Selected Products
          </div>
          <div class="search-wrapper">
            <img class="search-icon" src="../../../../assets/images/search.png" />
            <input class="search" placeholder="Search Product" type="text" [(ngModel)]="filterSelectedText"
              (keyup)="filterSelected()" />
          </div>

          <div class="product select-all">
            <mat-checkbox [value]="-1" [(ngModel)]="selectAll_2" (change)="checkAll($event,2)"> Select all
            </mat-checkbox>
          </div>
          <div class="uncategorized-list">
            <div class="product" *ngFor="let product of selectedFilteredProductList">
              <mat-checkbox [value]="product.id" (change)="setChecked($event,product,1)" [checked]="checkAllSelected">
                {{ ((product.name).length>70) ?
                ((product.name) | slice:0:70)+' ...' :
                (product.name) }}
                {{" / / " + (product.styleName || "") }}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bottom-section">
    <div class="category-select">
      <div class="input-holder">
        <p>Select Category</p>
        <mat-select matInput [(ngModel)]="selectedCategories" [compareWith]="attributeDisplay"
          style="border-radius: 10px;border:1px solid black; background-color: white;" multiple>
          <mat-option *ngFor="let element of categoryList" [value]="element">{{element.name}}
          </mat-option>
        </mat-select>
      </div>
      <div class="category-holder custom-btn-holder">
        <button class="btn btn-primaty custom-attribute-btn" *ngFor="let element of selectedCategories;let i=index">
          {{element.name}}
          <span class="material-icons custom-icons" (click)="removeCategory(i)">
            highlight_off
          </span>
        </button>
      </div>
    </div>
    <div class="formula-select">
      <!-- <div class="category-select"> -->
      <div class="input-holder">
        <p>Margin Calculation Formula</p>
        <mat-select matInput [(ngModel)]="selectedFormula" [compareWith]="attributeDisplay"
          style="border-radius: 10px;border:1px solid black; background-color: white;">
          <mat-option *ngFor="let element of marginFormulas" [value]="element.id">{{element.calculation}}
          </mat-option>
        </mat-select>
      </div>
      <!-- <div class="category-holder custom-btn-holder">
          <button class="btn btn-primaty custom-attribute-btn" *ngFor="let element of selectedFormulas;let i=index">
            {{element.calculation}}
            <span class="material-icons custom-icons" (click)="removeFormula(i)">
              highlight_off
            </span>
          </button>
        </div> -->
      <!-- </div> -->
      <!-- <div class="input-holder">
        <p>Margin Calculation </p>
        <div class="form-inline m-3">
          <label for="formula">SP Margin %:</label>
          <input type="number" value="100" class="form-control ml-3" id="formula" />
        </div>
      </div> -->

      <div class="submit-buttons">
        <button class="btn btn-primary custom-btn header-font" data-toggle="modal"
          data-target="#categoryAttributesModal">EDIT ATTRIBUTES</button>&nbsp;
        <button class="btn btn-success custom-btn-apply header-font" (click)="submit()"> APPLY CHANGES</button>
      </div>
    </div>

    <datalist id="formulas">
      <option [value]="formula" *ngFor="let formula of formulaList"></option>
    </datalist>

    <datalist id="categories">
      <option [value]="category" *ngFor="let category of categoryList"></option>
    </datalist>

  </div>
</div>


<!-- category attribute modal -->
<div class="modal fade" id="categoryAttributesModal" tabindex="-1" role="dialog"
  aria-labelledby="categoryAttributesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="attribute">
          <label><b>Store Status</b></label>
          <mat-select matInput [(ngModel)]="selectedStoreStatus" [compareWith]="attributeDisplay"
            style="border-radius: 10px;border:1px solid black; background-color: white;">
            <mat-option *ngFor="let element of storeStatus" [value]="element">{{element.name}}
            </mat-option>
          </mat-select>
          <!-- <div class="custom-btn-holder">
            <button class="btn btn-primaty custom-attribute-btn"
              *ngFor="let element of selectedStoreStatus;let i=index">
              {{element.name}}
              <span class="material-icons custom-icons" (click)="removeStoreStatus(i)">
                highlight_off
              </span>
            </button>
          </div> -->
        </div>
        <div class="attribute">
          <label><b>Markets</b></label>
          <mat-select matInput [(ngModel)]="selectedProductGroups" [compareWith]="attributeDisplay"
            style="border-radius: 10px;border:1px solid black; background-color: white;" multiple>
            <mat-option *ngFor="let element of productGroupList" [value]="element">{{element.name}}
            </mat-option>
          </mat-select>
          <div class="custom-btn-holder">
            <button class="btn btn-primaty custom-attribute-btn"
              *ngFor="let element of selectedProductGroups;let i=index">
              {{element.name}}
              <span class="material-icons custom-icons" (click)="removeProductGroup(i)">
                highlight_off
              </span>
            </button>
          </div>
        </div>
        <!-- <div class="attribute deco-location">
          <label><b>Deco Group</b></label>
          <mat-select matInput [(ngModel)]="decoGroupId"
            style="border-radius: 10px;border:1px solid black; background-color: white;">
            <mat-option *ngFor="let element of decoGroupList" [value]="element.id">{{element.name}}
            </mat-option>
          </mat-select> -->
          <!-- <div class="custom-btn-holder">
            <table>
              <thead>
                <tr>
                  <th>Location</th>
                  <th>Service</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let location of selectedProductLocations;let i=index">
                  <td>{{location.name}}</td>
                  <td>
                    <mat-select matInput [(ngModel)]="location.services" [compareWith]="attributeDisplay"
                      style="border-radius: 10px;border:1px solid black; background-color: white;" multiple>
                      <mat-option *ngFor="let element of services" [value]="element">{{element.name}}
                      </mat-option>
                    </mat-select>
                  </td>
                  <td><span class="close btn" (click)="removeDecoLocations(i)">&times;</span></td>
                </tr>
              </tbody>
            </table>
          </div> -->
        <!-- </div> -->
        <!-- <div class="attribute">
          <label><b>Style Name</b></label> <br>
          <input type="text" [(ngModel)]="styleName"
          style="border-radius: 10px;border:1px solid black; background-color: white; width: 100%; height: 40px;">
        </div>
        <div class="attribute">
          <label><b>Vendor Name</b></label> <br>
          <input type="text" [(ngModel)]="vendorName" 
          style="border-radius: 10px;border:1px solid black; background-color: white; width: 100%; height: 40px;">
        </div> -->
        <!-- <div class="attribute">
          <label><b>Related Products</b></label>
          <mat-select matInput [(ngModel)]="relatedProducts" [compareWith]="attributeDisplay"
            style="border-radius: 10px;border:1px solid black; background-color: white;" multiple>
            <mat-option *ngFor="let element of productList" [value]="element">{{element.name}}
            </mat-option>
          </mat-select>
          <div class="custom-btn-holder">
            <button class="btn btn-primaty custom-attribute-btn" *ngFor="let element of relatedProducts;let i=index">
              {{element.name}}
              <span class="material-icons custom-icons" (click)="removeRelatedProducts(i)">
                highlight_off
              </span>
            </button>
          </div>
        </div>
        <div class="attribute">
          <label><b>Alternate Products</b></label>
          <mat-select matInput [(ngModel)]="alternateProducts" [compareWith]="attributeDisplay"
            style="border-radius: 10px;border:1px solid black; background-color: white;" multiple>
            <mat-option *ngFor="let element of productList" [value]="element">{{element.name}}
            </mat-option>
          </mat-select>
          <div class="custom-btn-holder">
            <button class="btn btn-primaty custom-attribute-btn" *ngFor="let element of alternateProducts;let i=index">
              {{element.name}}
              <span class="material-icons custom-icons" (click)="removeAlternateProducts(i)">
                highlight_off
              </span>
            </button>
          </div>
        </div>
        <div class="attribute">
          <label><b>Companion Products</b></label>
          <mat-select matInput [(ngModel)]="companionProducts" [compareWith]="attributeDisplay"
            style="border-radius: 10px;border:1px solid black; background-color: white;" multiple>
            <mat-option *ngFor="let element of productList" [value]="element">{{element.name}}
            </mat-option>
          </mat-select>
          <div class="custom-btn-holder">
            <button class="btn btn-primaty custom-attribute-btn" *ngFor="let element of companionProducts;let i=index">
              {{element.name}}
              <span class="material-icons custom-icons" (click)="removeCompanionProducts(i)">
                highlight_off
              </span>
            </button>
          </div>
        </div> -->
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>